<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132404648897-cgk1chel86cvgveokngd7bpcb1j7rllu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132404648897-cgk1chel86cvgveokngd7bpcb1j7rllu</string>
	<key>API_KEY</key>
	<string>AIzaSyAazF_L7ommQjvIDT14QwYg7yXWKPyDkG4</string>
	<key>GCM_SENDER_ID</key>
	<string>132404648897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-56490</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-56490.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132404648897:ios:494636bf9152cae944ad40</string>
</dict>
</plist>